#root {
    background-color: var(--purple-dark);
}

.menu {
    display: flex;
    flex-direction: column;
    width: 29%;
    align-items: center;
    background-color: var(--purple-light);
    border-radius: 50px;
    margin: auto;
    padding: 3em;
    border: 3px solid black;
    border-bottom: 20px solid black;
}

.menu .group12 {
    margin: 80px 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .menu {
        width: 80%;
        padding: 2em;
        margin: auto;
    }

    .menu .group12 {
        margin: 50px 0;
    }
}

@media only screen and (max-width: 767px) {
    .menu {
        width: 100%;
        background-color: transparent;
        border: none;
        padding: 2em 0;
        margin: auto 0;
    }

    .menu .group12 {
        margin: 30px 0;
    }
}