.rules {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--purple-light);
}

.rule-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 29%;
    height: auto;
    background-color: var(--white);
    border-radius: 50px;
    margin: auto;
    padding: 3em;
    border: 3px solid black;
    border-bottom: 20px solid black;
}

.rule-container .heading-l {
    margin: 16px auto;
}

.rule-container .heading-s {
    color: var(--purple-light);
    margin: 16px 0;
    display: flex;
    align-items: flex-start;
}

.rule-container .body-text li {
    margin-bottom: 16px;
    margin-left: -15px;
}

.iconCheck {
    width: 64px;
    height: 64px;
    margin-top: auto;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .rule-container {
        width: 62%;
        padding: 2em;
        margin: auto;
    }
}

@media only screen and (max-width: 767px) {
    .rule-container{
        width: 85%;
        padding: 1em;
        margin: auto;
    }
}