@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --black: #000000;
    --purple-dark: #5C2DD5;
    --purple-light: #7945FF;
    --pink: #FD6687;
    --yellow: #FFCE67;
    --white: #FFFFFF;
}

body,
html {
    overflow-x: hidden;
    font-size: 16px;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

.heading-l {
    font-size: 3.5rem;
    line-height: 4.44rem;
    font-weight: bold;
}

.heading-m {
    font-size: 1.5rem;
    line-height: 1.94rem;
    font-weight: bold;
}

.heading-s {
    font-size: 1.25rem;
    line-height: 1.63rem;
    font-weight: bold;
}

.heading-xs {
    font-size: 1rem;
    line-height: 1.31rem;
    font-weight: bold;
}

.body-text {
    font-size: 1rem;
    line-height: 1.31rem;
}