.rule-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 70%;
    background-color: var(--white);
    border-radius: 50px;
    margin: auto;
    padding: 3em;
    border: 3px solid black;
    border-bottom: 20px solid black;
    position: relative;
}

.rule-container .rule-text {
    margin: 30px auto;
}

.rule-container .rule-text1 {
    color: var(--purple-light);
    margin-top: 30px;
}

.iconCheck {
    width: 64px;
    height: 64px;
    margin-top: auto;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
}